<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ translateService.t('alerts.title') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="inset">
    @for (alimento of productosAlertas; track alimento.id) {
    <ion-item>
      <ion-icon
        [name]="(alimento.fechaVencimiento < today) ? 'alert-circle-outline' : 'warning-outline'"
        [color]="(alimento.fechaVencimiento < today) ? 'danger' : 'warning'"
        slot="start"
      >
      </ion-icon>

      <ion-label>
        <h2>{{ alimento.nombre }}</h2>
        <p
          class="ion-text-wrap"
          [class.ion-text-danger]="alimento.fechaVencimiento < today"
          [class.ion-text-warning]="alimento.fechaVencimiento >= today"
        >
          {{ (alimento.fechaVencimiento < today) ? translateService.t('alerts.expired') : translateService.t('alerts.expires') }}
          {{ alimento.fechaVencimiento | date:'dd/MM/yyyy' }}
        </p>
      </ion-label>

      <ion-badge
        [color]="(alimento.fechaVencimiento < today) ? 'danger' : 'warning'"
        slot="end"
      >
        {{ alimento.cantidad }} {{ translateService.t('alerts.units') }}
      </ion-badge>
    </ion-item>
    } @empty { }
  </ion-list>
</ion-content>
