<ion-header>
  <ion-toolbar>
    <ion-title>
      NeverApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>{{ translateService.t('login.welcome') }}</h1>

  <p>{{ translateService.t('login.subtitle') }}</p>

  <ion-item>
    <ion-label position="stacked">{{ translateService.t('login.email') }}</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ translateService.t('login.password') }}</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="iniciarSesion()">
    {{ translateService.t('login.login') }}
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="irARegistro()">
    {{ translateService.t('login.register') }}
  </ion-button>

</ion-content>
