<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ translateService.t('categories.title') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ translateService.t('categories.cardTitle') }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ translateService.t('categories.cardText') }}
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label>{{ translateService.t('inventory.dairy') }}</ion-label>
      <ion-badge slot="end">
        {{ conteoCategorias['Lácteos'] || 0 }}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>{{ translateService.t('inventory.fruits') }}</ion-label>
      <ion-badge slot="end">
        {{ conteoCategorias['Frutas'] || 0 }}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>{{ translateService.t('inventory.vegetables') }}</ion-label>
      <ion-badge slot="end">
        {{ conteoCategorias['Verduras'] || 0 }}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>{{ translateService.t('inventory.meat') }}</ion-label>
      <ion-badge slot="end">
        {{ conteoCategorias['Carnes y Proteínas'] || 0 }}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>{{ translateService.t('inventory.grains') }}</ion-label>
      <ion-badge slot="end">
        {{ conteoCategorias['Granos'] || 0 }}
      </ion-badge>
    </ion-item>

  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>{{ translateService.t('categories.newTitle') }}</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
              {{ translateService.t('categories.close') }}
            </ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-item>
          <ion-input
            [label]="translateService.t('categories.nameLabel')"
            labelPlacement="floating"
            [(ngModel)]="nuevaCategoria"
            [placeholder]="translateService.t('categories.namePlaceholder')">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="ion-margin-top"
          (click)="guardarCategoria()">

          {{ translateService.t('categories.save') }}

        </ion-button>

      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="abrirModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
