<ion-header>
  <ion-toolbar>
    <ion-title>NeverApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Próximos a vencer</ion-card-title>
      <ion-card-subtitle>{{ proximosVencer }} productos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Pocas unidades</ion-card-title>
      <ion-card-subtitle>{{ pocasUnidades }} productos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Total almacenados</ion-card-title>
      <ion-card-subtitle>{{ totalProductos }} productos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>